<!--The content below is only a placeholder and can be replaced.-->

<div id="intro">
  <br />
  <h1 class="large first">{{ first }}</h1>
  <h1 class="large first">{{ last }}</h1>

  <div class="css-typing">
    <p class=" first">
      > 3rd Year Electrical Engineering Student _
    </p>
    <p class=" first">
      > Software Developer _
    </p>
    <p class="small first">
      > Actively Seeking Positions: Summer 2020 _
    </p>
  </div>

  <div class="icons">
    <a href="https://www.linkedin.com/in/ssimbul/" target="_blanks">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a href="https://github.com/ssimbul" target="_blanks">
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="" target="_blanks">
      <i class="fas fa-file fa-2x"></i>
    </a>
  </div>
</div>

<!-- <img id="profile" src="{{ profile }}" /> -->
