/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
$primary-color: white;
$secondary-color: white;

.first {
  color: $primary-color;
}
.second {
  color: $secondary-color;
}

#intro {
  left: 10%;
  top: 20%;
  position: fixed;
  z-index: 2;
  padding-top: 70px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#intro h1 {
  display: inline;
  &:hover {
    color: #dfd689;
    transition: all 0.5s ease-out;
  }
}
body {
  color: $primary-color;
}

.nav-button {
  color: $secondary-color;
  font-size: 20px;

  &:hover {
    color: #dfd689;

    transition: all 0.5s ease-out;
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.large {
    font-size: 6rem;
  }
}

.icons {
  margin-top: 4rem;

  a {
    color: #52cebf;

    padding: 1rem;
    &:hover {
      color: white;
      text-shadow: 2px 2px 2px #52cebf;
      transition: all 0.8s ease-out;
    }
  }
}

// TYPE WRITER ANIM
.css-typing p {
  border-right: 0.15em solid #dfd689;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 19em;
  -webkit-animation: type 4s steps(40, end);
  animation: type 4s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 11em;
  opacity: 0;
  -webkit-animation: type2 3s steps(40, end);
  animation: type2 3s steps(40, end);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 20em;
  opacity: 0;
  -webkit-animation: type3 4s steps(40, end),
    blink 0.5s step-end infinite alternate;
  animation: type3 4s steps(40, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid #dfd689;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid #dfd689;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid #dfd689;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
