<!--The content below is only a placeholder and can be replaced.-->

<body>
  <button class="nav-button" mat-button>HOME</button>
  <button class="nav-button" mat-button>ACADEMICS</button>
  <button class="nav-button" mat-button>EXPERIENCE</button>
  <button class="nav-button" mat-button>PROJECTS</button>
  <button class="nav-button" mat-button>CONTACT ME</button>
</body>

<div id="intro">
  <br />
  <h1 class="large">{{ first }}</h1>
  <h1 class="large second">{{ last }}</h1>

  <div class="css-typing">
    <p class="small second">
      > 3rd Year Electrical Engineering Student _
    </p>
    <p class="small second">
      > Software Developer _
    </p>
    <p class="small second">
      > Actively Seeking Positions: Summer 2020 _
    </p>
  </div>

  <div class="icons">
    <a href="#!">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a href="#!">
      <i class="fab fa-github fa-2x"></i>
    </a>
  </div>
</div>

<!-- <img id="profile" src="{{ profile }}" /> -->

<router-outlet></router-outlet>
