<!--The content below is only a placeholder and can be replaced.-->

<body>
  <button class="nav-button" mat-button>HOME</button>
  <button class="nav-button" mat-button>ACADEMICS</button>
  <button class="nav-button" mat-button>EXPERIENCE</button>
  <button class="nav-button" mat-button>MY WORK</button>
  <button class="nav-button" mat-button>CONTACT ME</button>
</body>

<div id="intro">
  <span>Hello, I'm</span>
  <br />
  <h1>{{ first }}</h1>
  <h1 class="second">{{ last }}</h1>
  <br />
  <span class="second">> Software Developer _</span>
  <br />
  <button mat-button>TEST 1</button>
  <button mat-button>TEST 2</button>
</div>

<img id="profile" src="{{ profile }}" />

<router-outlet></router-outlet>
