/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

$primary-color: white;
$secondary-color: #dfd689;
$tert-color: #52cebf;

.first {
  color: $primary-color;
}
.second {
  color: $secondary-color;
}

.third {
  color: $tert-color;
}

.nav-button {
  color: $primary-color;
  font-size: 20px;

  &:hover {
    color: $secondary-color;

    transition: all 0.5s ease-out;
  }
}

nav button.active {
  color: $secondary-color;
}
