/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

$primary-color: white;
$secondary-color: white;

.first {
  color: $primary-color;
}
.second {
  color: $secondary-color;
}

.nav-button {
  color: $secondary-color;
  font-size: 20px;

  &:hover {
    color: #dfd689;

    transition: all 0.5s ease-out;
  }
}
